<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://idir.uta.edu/claimmap/static/visualization/css/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <title>FDG</title>
</head>
<body>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/d3-drag@3"></script>
    <div class='my-legend'>
    <div class='legend-title'>Fact Checking Claim map</div>
        <div class='legend-scale'>
          <ul class='legend-labels'>
            <li style="font-size: 15px;"><span style='background:#B3FF66;'></span>Claim</li>
            <li style="font-size: 15px;"><span style='background:#FFFFFF;'></span>Evidence</li>
          </ul>
        </div>
    </div>
    <script src="{{ url_for('static', filename='visualization/js/index.js') }}"> </script>
    <!-- <script src="https://idir.uta.edu/claimmap/static/visualization/js/index.js"> </script> -->
</body>
